.navbar {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.7rem 1.7rem;
  border-radius: 2rem;
  display: flex;
  gap: 0.8rem;
}

nav a {
  background: transparent;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.7rem;
  display: flex;
  color: var(--color-light);
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}
